[submodule "tools/amaranth"]
	path = tools/amaranth
	url = https://github.com/amaranth-lang/amaranth.git
[submodule "tools/pyelftools"]
	path = tools/pyelftools
	url = https://github.com/eliben/pyelftools.git
